<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Z64MusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZMusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZMusicManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Z64MusicManager.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value>C://</value>
            </setting>
            <setting name="OoTMusicStarterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MMRCLIPath" serializeAs="String">
                <value />
            </setting>
        </Z64MusicManager.Properties.Settings>
        <ZMusicManager.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value>C://</value>
            </setting>
            <setting name="OoTMusicStarterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MMRCLIPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MajoraMaskRomPath" serializeAs="String">
                <value />
            </setting>
        </ZMusicManager.Properties.Settings>
        <ZMusicManager.Settings>
            <setting name="LastPath" serializeAs="String">
                <value>C://</value>
            </setting>
        </ZMusicManager.Settings>
    </userSettings>
</configuration>